<ul class="nav">
    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Home")" title="About">Trang chủ</a></li>
    <li class="nav-item"><a class="nav-link" href="@Url.Action("DanhMucLoapPhong","Admin")" title="About">Phòng</li>
    <li class="nav-item"><a class="nav-link" href="@Url.Action("GioHang","Admin")" title="About">Đặt Phòng</a></li>
    <li class="nav-item"><a class="nav-link" href="@Url.Action("#","Home")" title="About">Giới thiệu</a></li>
    <li class="nav-item"><a class="nav-link" href="@Url.Action("#","Home")" title="Contact">Liên hệ</a></li>
</ul>